@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1563157069348'); /* IE9 */
  src: url('iconfont.eot?t=1563157069348#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABmgAAAKIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQoBNgIkAwgLBgAEIAWEbQcuG64FEdWTB2R/TFDr6MrYFHk/RqxU1lbZdUKE0zcaJV9dt3TMM/tZ2gfvFx5ME0G0H7/Zd/dNpZk2wxKZRCJ0s6ohU2mERCJ5FOu01xM8TYAuTx8sSrFeKdnUfb4Iu3EN8GkBqUkbaDHVVS8geHitvXpwyIkd+MAt8YCkxTkHVzUqQo3k7Mme7TDlUZpTe0CNnepPXN1odSVfAL8B4BP3Tv9vAAUyH1AuYwxaY1AXUBcHUkB7YxRZkUTeMHaBS3hMoNageXF4sghUy6xVgbhpIgeqc15ZZolqobLmYBbPVKgu7hcGT8Pvxx+rUU2hIrFKzm9gH3a/a6eky133CT4COl6BhHlk4kpt9FQSjJHURrNR9lUYfL+UpW8RezUK9tdZ+fWgH4ruSexKbjVRwG2NNI6VUROIcXWTjHkXPXjbTUjnq9czlLRzitOeXvZhjK9snLPT2KCvW56n/GRjbP9H/nzssyl5dqjGLs8v/1IcdkE5vYkoEEz/9wY5GXy8pUJ3OUM/O9U7tgU/SNyzK+tSy1xkVVzbXxg/cUOtWpSws9W3sbqOu0mGah0j7FUGUmdSPZMiQ/o8KtRZR6VqO6g15+R4nTa3JJFrMOs2QGj2BoVG75A0e09m+ldU6PQPlZojoda14MI6k2EZsSfsGEfo/2CGZZaOlUVUeEP19h1lpSHzhRRMAMqsKCbOOCPNsSV8VMUsQdIywQk8h94vsNJiceBMM691nsu6N2XDMkUi2hN2jCP0fzDDMkt/MIvS52+o3r6jlo4a7wspmPGhzIoe5Fk19+q4l1fCR1XMEiQtE5zAPPR+gbV+nsWBMz0ivNa53Uv2VWXra6avOwS1kaUvYrsy2QXuKIoAAA==') format('woff2'),
  url('iconfont.woff?t=1563157069348') format('woff'),
  url('iconfont.ttf?t=1563157069348') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1563157069348#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e650";
}

